@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
.pop-up {
    font-family: 'Noto Sans KR', sans-serif;
    color: #4b2e83;
    flex: 1;
    font-size: 1em;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

div.pop-up p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


@media only screen and (min-width: 410px) {
    .pop-up p {
        font-size: 1.2em; 
  }
  
}

@media only screen and (min-width: 800px) {
    .pop-up p {
        font-size: 1.5em; 
  }
}
/*
@media only screen and (min-width: 1000px) {
    .pop-up p {
        font-size: 1.8em;
        padding-top: 40%; 
  }
}

@media only screen and (min-width: 1200px) {
    .pop-up p {
        font-size: 1.8em;
        padding-top: 20%; 
  }
}

@media only screen and (min-width: 1300px) {
    .pop-up p {
        font-size: 1.8em;
        padding-top: 30%; 
  }
}
@media only screen and (min-width: 1500px) {
    .pop-up p {
        font-size: 1.8em;
        padding-top: 30%; 
  }
}
@media only screen and (min-width: 2000px) {
    .pop-up p {
        font-size: 1.8em;
        padding-top: 20%; 
  } 
}*/